body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

h1 {
  width: 255px;
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
}

h2 {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 12px;
}

.container {
  width: 510px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  padding: auto;
  margin-right: 1000;
}

.site-header {
  min-width: 550px;
  height: 90px;
  margin-bottom: 100px;
  padding-top: 30px;
  background: #847462 no-repeat center url("img/Screenshot_1-21.png");
  background-size: cover;
  color: #ffffff;
}

.site-header p {
  width: 255px;
  margin: 0 auto 36px;
  text-align: center;
  font-size: 16px;
  line-height: 24px; 
}

.site-header img {
  display: block;
  margin: 0 auto;
}

.features {
  width: 410px;
  margin: 0 auto 30px;
  padding: 0 100px;
  margin-bottom: 2;
}

.features p {
  display: inline-block;
  vertical-align: bottom;
  width: 50%;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}

.CHJ {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 125px;
}

.feature-furniture {
  padding-top: 65px;
  background-image: url("");
}

.feature-lighting {
  padding-top: 30px;
  background-image: url("img/sofa.png");
}

.feature-accessories {
  padding-top: 30px;
  background-image: url("img/accessories.svg");
}

.advantages {
  width: 410px;
  margin: 0 auto 40px;
  padding: 0 20px;
}

.advantages-list {
  padding: 0;
  list-style: none;  
}

.advantages-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 20px solid #e2e2e2;
  color: #999999;
}


.standard {
  border-color: #847462;
  color: #6a6a6a;
}

.vip{
  border-color: #ffb864;
  color: #000000;
  }
  .site-footer {
    min-width: 550px;
    background-color: #847462;
    color: #ffffff;
  }

  .site-footer p {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
  }
  
  .site-footer .container {
    text-align: center;
  }